html,
body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    overflow: hidden;
}

@media all and (width: 1024px) and (height: 691px) and (orientation: landscape) {
    html,
    body {
        height: 671px;
    }
}

@media all and (width: 1024px) and (height: 692px) and (orientation: landscape) {
    html,
    body {
        height: 672px;
    }
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


/* media quryis */


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    /* //CSS */
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* //CSS */
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    /* //CSS */
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    /* //CSS */
}